/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selectors */
body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

/* List items in navigation bar */
li {
    /* Sets display to inline block */
    display: inline-block;
    margin-left: 25px;
}

main {
    /* Sets the position, size, left margin, and colors for main */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    background-color: #0072bb;
    color: #ffffff;
}

aside {
    /* Sets the position, padding, size, right margin, and colors for aside */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    color: #ffffff;
}

h1,
footer {
    /* Sets a different font for h1 and footer*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px;    
    background-color: #2a607c;
    color: #ffffff;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

/* Class Selectors */
.banner-image img {
    width: 100%;
    margin-bottom: 25px; 
    background-size: cover; 
    background-position: center;
}

.content {
    /* Sets the size and postion of content */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}

.content img {
    /* Sets the size of image in content */
    max-height: 200px;
}

.content h2 {
    /* Sets the size and bottom margin of font in content */
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    /* Sets the bottom margin of benefits */
    margin-bottom: 32px;
}

.benefits img {
    /* Sets the size and position of image in benefits */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits h3 {
    /* Sets the position and bottom margin of font in benefits */
    margin-bottom: 10px;
    text-align: center;
}

/* ID Selectors */
#seo {
    /* Sets letters 'seo' in header to a different color*/
    color: #d9dcd6;
}

#float-left {
    /* Sets the position of the left floating image in content */
    float: left;
    margin-right: 25px;
}

#float-right {
    /* Sets the position of the right floating image in content */
    float: right;
    margin-left: 25px;
}